---
import Recommend from "@/components/recommend.astro";
import Title from "@/components/title.astro";
import type Article from "@/interfaces/article";
import Layout from "@/layouts/Layout.astro";
import fetchApi from "@/lib/strapi";
import { ChevronLeft, ChevronRight } from "@lucide/astro";
import dayjs from "dayjs";
import { marked } from "marked";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles?populate[blocks][populate]=*",
    wrappedByKey: "data",
  });
  if (articles.length === 0) {
    return [{ params: { slug: "no-article" } }];
  }
  return (
    articles?.map((article, index) => ({
      params: {
        slug: article.documentId,
      },
      props: {
        prev: index === 0 ? null : articles[index - 1],
        next: index === articles.length - 1 ? null : articles[index + 1],
        article,
      },
    })) || []
  );
}
const { article, prev, next } = Astro.props as {
  article: Article;
  prev: Article;
  next: Article;
};
---

<Layout>
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl">{article.title}</h1>
    <p class="mb-2">
      {dayjs(article.createdAt).format("MMMM D, YYYY")} 😊 1 minute read
    </p>

    <div class="leading-[32px] text-lg">
      <article
        class="prose max-w-none dark:prose-headings:text-slate-400 dark:prose-p:text-slate-400 dark:prose-li:text-slate-400 dark:prose-a:text-slate-400"
        set:html={marked.parse(article.blocks?.[0]?.body)}
      />
    </div>
  </div>

  <div class="flex gap-4 my-8 justify-between">
    <span
      class="text-xl hover:text-orange-500 dark:hover:text-purple-400 cursor-pointer flex items-center"
    >
      <ChevronLeft />
      {
        prev ? (
          <a href={`/post/${prev.documentId}`}>{prev.title}</a>
        ) : (
          "no previous page"
        )
      }
    </span>
    <span
      class="text-xl hover:text-orange-500 dark:hover:text-purple-400 cursor-pointer flex items-center"
    >
      {
        next ? (
          <a href={`/post/${next.documentId}`}>{next.title}</a>
        ) : (
          "no next page"
        )
      }
      <ChevronRight />
    </span>
  </div>

  <Title title="You might also like" />
  <Recommend />
</Layout>
